<h2 class="quizDescription">
<u>Hosfetede's Cultural Quiz</u>
</h2>

<p class="quizDescription">
  This quiz will measure a person's culture based on a well known model by 
  <a href="https://en.wikipedia.org/wiki/Geert_Hofstede">Geert Hofstede</a>.
  <br />
  There is a total of {{numOfQuestions}} questions.
</p>

<div class="spaced-btn">
  <button id="beginQuizBtn" (click) = "beginQuiz($event)"
  class="btn btn-secondary">
  Begin Quiz
  </button>
</div>

<h2 id="question"></h2>
<!-- The Question Submission Form -->
<div id="questionForm">
  <div class="spaced-btn">
    <button class="btn btn-danger" (click)="submitResponse(-1.0)">Strongly Disagree</button> <br />
    <button class="btn btn-warning" (click)="submitResponse(-0.5)">Disagree</button>
    <br />
    <button class="btn btn-secondary" (click)="submitResponse(0)">Neutral/Unsure</button> <br />
    <button class="btn btn-info" (click)="submitResponse(0.5)">Agree</button> <br />
    <button class="btn btn-success" (click)="submitResponse(1)">Strongly Agree</button>
  </div>
</div>

<p id="results"></p>