<h2 class="quizDescription">
<u>Hosfetede's Cultural Quiz</u>
</h2>

<p class="quizDescription">
  This quiz will measure a person's culture based on a well known model by 
  <a href="https://en.wikipedia.org/wiki/Geert_Hofstede">Geert Hofstede</a>.
</p>

<button id="beginQuizBtn" (click) = "beginQuiz($event)"
class="btn btn-secondary">
Begin Quiz
</button>

<h2 id="question"></h2>
<!-- The Question Submission Form -->
<div id="questionForm">
  <button class="btn btn-danger" (click)="submitResponse(-2)">Strongly Disagree</button> <br />
  <button class="btn btn-warning" (click)="submitResponse(-1)">Disagree</button> <br />
  <button class="btn btn-secondary" (click)="submitResponse(0)">Neutral/Unsure</button> <br />
  <button class="btn btn-info" (click)="submitResponse(1)">Agree</button> <br />
  <button class="btn btn-success" (click)="submitResponse(2)">Strongly Agree</button>
</div>

<p id="results"></p>